body{
    margin: 0;
    padding: 0;
    background-color: #45a1b1;
}

.flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

.social-apps{
    display: flex;
    position: absolute;
    margin-top: 25%;
    margin-left: 45%;
    transform: translate(-50%,-50%);
}

span a
{
    list-style: none;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border:3px solid #fff;
    /* z-index: 1; */
}

span a .social{
    position: relative;
    color: #45a1b1;
    transition: .5ms;
    z-index: 3;
}

span a:hover .social{
    color: #fff;
    transform: rotateY(360deg);

}

spana a:before{
    content: "";
    position: absolute;
    margin-top:100%;
    margin-left:0%;
    width: 100%;
    height: 100%;
    background-color: #f00;
    transition: .5s;
    z-index: 2;
}

span a:hover:before{
    top: 0;
}

